#navigation_table{
	border-spacing: 0;
  	width: 100%;
  	border: 1px solid #ddd;
}

.navigation_table_header{
	cursor: pointer;
	padding: 16px;
	background-color: #77bbff
}

.navigation_table_header:first-child{
/* 	background-color: #6ab5ff */
}

.navigation_table_row:nth-child(even) {
  background-color: #f2f2f2
}

.navigation_table_data{
	text-align: left;
  	padding: 16px;
  	cursor: pointer;
}


/* Remove default bullets */
#navigation_tree, .navigation_tree_branches {
	list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#navigation_tree {
	margin: 0;
	padding: 0;
}

.navigation_tree_node {
	cursor: pointer;
	user-select: none; /* Prevent text selection */
}

/* Hide the nested list */
.navigation_tree_branches {
	display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.navigation_tree_branches_open {
	display: block;
}