#projekt_table{
	border-spacing: 0;
  	width: 100%;
}

.projekt_table_header{
	cursor: pointer;
	background-color: #77bbff
}

.projekt_table_data{
	text-align: left;
  	padding-left: 16px;
  	padding-right: 16px;
  	cursor: pointer;
}

#projekt_table_row_sortfuntions{
	background-color: white;
	cursor: pointer;
/* 	text-align: center; */
}

.projekt_table_data_sortfuntion{
	padding-left: 16px;
  	padding-right: 16px;
  	border-right: 2px solid #ddd;
  	border-bottom: 2px solid #ddd;
}