
#container_navigation{
	float:left;
	padding-left:10px;
}

#container_content{
	float:left;
	padding-left:20px;
}

#container_content2{
	float:left;
	padding-left:20px;
}


/* Symbols */

.symbol_triangle_up::after {
	content: "\25B4";
	margin-left: 6px;
}

.symbol_triangle_down::after {
	content: "\25BE";
}

.symbol_folder_closed::before {
	content: "\1F4C1";
	margin-right: 6px;
}

.symbol_folder_open::before {
	content: "\1F4C2";
}

.symbol_user::before {
	content: "\1F464";
}

.symbol_add::before {
	content: "\1F4CB";
}

.symbol_edit::before {
	content: "\1F4DD";
}

.symbol_search::before {
	content: "\1F4D6";
}

.symbol_logout::before {
	content: "\1F4BC";
}
.symbol_list::before {
	content: "\1F4D6";
}