
html, body {
  height: 100%;
  margin: 0;
}


/* GRID */


#main-container {
  display: grid;
  height: 100%;
  grid-template-areas:
    'header header header'
    'tree-navi content content'
    'tree-navi content content';
  grid-template-rows: 1fr 6fr;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

#main-header {
	grid-area: header;
/* 	content-align: center; */
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.8);
}

#main-header img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#main-menu { 
	grid-area: tree-navi;
	align-self: start;
	padding: 0;
}

#main-content {
	grid-area: content;
	align-self: start;
}

#main-container > div {
/*   background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
}


/* SYMBOLS*/

.symbol_triangle_up::after {
	content: "\25B4";
	margin-left: 6px;
}

.symbol_triangle_down::after {
	content: "\25BE";
/* 	margin-right: 6px; */
}

.symbol_folder_closed::before {
	content: "\1F4C1";
	margin-right: 6px;
}

.symbol_folder_open::before {
	content: "\1F4C2";
	margin-right: 6px;
}

.symbol_user::before {
	content: "\1F464";
	margin-right: 6px;
}

.symbol_add::before {
	content: "\1F4CB";
	margin-right: 6px;
}

.symbol_edit::before {
	content: "\1F4DD";
	margin-right: 6px;
}

.symbol_search::before {
	content: "\1F4D6";
	margin-right: 6px;
}

.symbol_logout::before {
	content: "\1F4BC";
	margin-right: 6px;
}
.symbol_list::before {
	content: "\1F4D6";
	margin-right: 6px;
}