<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">
    <display-name>2020_LIMS</display-name>
    <welcome-file-list>
        <!--     <welcome-file>index.html</welcome-file> -->
        <!--     <welcome-file>index.htm</welcome-file> -->
        <!--     <welcome-file>index.jsp</welcome-file> -->
        <!--     <welcome-file>default.html</welcome-file> -->
        <!--     <welcome-file>default.htm</welcome-file> -->
        <!--     <welcome-file>default.jsp</welcome-file> -->
        <!--     <welcome-file>login.html</welcome-file> -->
        <welcome-file>login</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>JSTreeNodes</servlet-name>
        <servlet-class>controller.JSTreeNodesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JSTreeNodes</servlet-name>
        <url-pattern>/jstree/nodes</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>JSTreeSearch</servlet-name>
        <servlet-class>controller.JSTreeSearchServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JSTreeSearch</servlet-name>
        <url-pattern>/jstree/search</url-pattern>
    </servlet-mapping>

</web-app>